<!-- header/navigation -->
<header class="site-header">
	<div class="container">
		<div class="branding">
			<img
				src="images/sensor_logo.webp"
				alt="Sensors logo"
				class="logo" />
			<span class="device-id" id="device-id">--</span>
		</div>
		<nav class="main-nav">
			<button
				class="btn nav-toggle"
				aria-label="Toggle navigation"
				aria-expanded="false">
				<div></div>
			</button>
			<div class="nav-backdrop"></div>
			<ul class="nav-list" id="navList">
				<li><a href="/" class="nav-link">Home</a></li>
				<li>
					<a href="device-details.html" class="nav-link"
						>Device Details</a
					>
				</li>
				<li><a href="ota.html" class="nav-link">OTA</a></li>
				<li>
					<a href="file-system.html" class="nav-link"
						>File Viewer</a
					>
				</li>
			</ul>
		</nav>
	</div>
	<!-- .container -->
</header>
